<div class="tool-wrapper">
    <div class="question-wrapper">
        <div class="question-wrapper">
            <img src="{{imgQestion}}" class="question" alt="question">
        </div>
    </div>
    <div class="flag-wrapper">
        <img src="{{imgFlag}}" alt="flag" class="flag">
    </div>
</div>

<div class="table-wrapper">

    <div class="progress-bar">
        <div class="progress"></div>
    </div>

    <table class="mainWrapper">

        <div class="winrate">
            <span>??%</span>
        </div>

        <tbody>
        <tr>
            <td data-position="11" class="droppable"></td>
            <td data-position="12" class="droppable"></td>
            <td data-position="13" class="droppable"></td>
            <td data-position="14" class="droppable"></td>
            <td data-position="15" class="droppable"></td>
            <td data-position="16" class="droppable"></td>
            <td data-position="17" class="droppable"></td>
            <td data-position="18" class="droppable"></td>
            <td data-position="19" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="21" class="droppable"></td>
            <td data-position="22" class="droppable"></td>
            <td data-position="23" class="droppable"></td>
            <td data-position="24" class="droppable"></td>
            <td data-position="25" class="droppable"></td>
            <td data-position="26" class="droppable"></td>
            <td data-position="27" class="droppable"></td>
            <td data-position="28" class="droppable"></td>
            <td data-position="29" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="31" class="droppable"></td>
            <td data-position="32" class="droppable"></td>
            <td data-position="33" class="droppable"></td>
            <td data-position="34" class="droppable"></td>
            <td data-position="35" class="droppable"></td>
            <td data-position="36" class="droppable"></td>
            <td data-position="37" class="droppable"></td>
            <td data-position="38" class="droppable"></td>
            <td data-position="39" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="41" class="droppable"></td>
            <td data-position="42" class="droppable"></td>
            <td data-position="43" class="droppable"></td>
            <td data-position="44" class="droppable"></td>
            <td data-position="45" class="droppable"></td>
            <td data-position="46" class="droppable"></td>
            <td data-position="47" class="droppable"></td>
            <td data-position="48" class="droppable"></td>
            <td data-position="49" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="51" class="droppable"></td>
            <td data-position="52" class="droppable"></td>
            <td data-position="53" class="droppable"></td>
            <td data-position="54" class="droppable"></td>
            <td data-position="55" class="droppable"></td>
            <td data-position="56" class="droppable"></td>
            <td data-position="57" class="droppable"></td>
            <td data-position="58" class="droppable"></td>
            <td data-position="59" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="61" class="droppable"></td>
            <td data-position="62" class="droppable"></td>
            <td data-position="63" class="droppable"></td>
            <td data-position="64" class="droppable"></td>
            <td data-position="65" class="droppable"></td>
            <td data-position="66" class="droppable"></td>
            <td data-position="67" class="droppable"></td>
            <td data-position="68" class="droppable"></td>
            <td data-position="69" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="71" class="droppable"></td>
            <td data-position="72" class="droppable"></td>
            <td data-position="73" class="droppable"></td>
            <td data-position="74" class="droppable"></td>
            <td data-position="75" class="droppable"></td>
            <td data-position="76" class="droppable"></td>
            <td data-position="77" class="droppable"></td>
            <td data-position="78" class="droppable"></td>
            <td data-position="79" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="81" class="droppable"></td>
            <td data-position="82" class="droppable"></td>
            <td data-position="83" class="droppable"></td>
            <td data-position="84" class="droppable"></td>
            <td data-position="85" class="droppable"></td>
            <td data-position="86" class="droppable"></td>
            <td data-position="87" class="droppable"></td>
            <td data-position="88" class="droppable"></td>
            <td data-position="89" class="droppable"></td>
        </tr>
        <tr>
            <td data-position="91" class="droppable"></td>
            <td data-position="92" class="droppable"></td>
            <td data-position="93" class="droppable"></td>
            <td data-position="94" class="droppable"></td>
            <td data-position="95" class="droppable"></td>
            <td data-position="96" class="droppable"></td>
            <td data-position="97" class="droppable"></td>
            <td data-position="98" class="droppable"></td>
            <td data-position="99" class="droppable"></td>
        </tr>
        </tbody>
    </table>

</div>

<button class="button">Начать заново</button>